<!--include header-->
<%-include('includes/_header')%>
<!--/include header-->
    <!-- breadcrumb -->
    <section class="w3l-about-breadcrumb">
        <div class="breadcrumb-bg breadcrumb-bg-about">
            <div class="container py-5">
                <div class="w3breadcrumb-gids text-center py-sm-5 py-2">
                    <div class="w3breadcrumb-info">
                        <h2 class="w3ltop-title">Contact Us</h2>
                    </div>
                    <ul class="breadcrumbs-custom-path">
                        <li><a href="/">Home</a></li>
                        <li class="active"><span class="mid-icon">|</span> Contact </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--//breadcrumb-->
    <!--/contact-form/-->
    <section class="w3l-contact-main">
        <!--/contact-map-->
        <section class="w3l-contact-main" id="contact">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387193.3059445135!2d-74.25986613799748!3d40.69714941774136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m3!3e3!4m0!4m0!5e0!3m2!1sen!2sin!4v1570181661801!5m2!1sen!2sin" allowfullscreen=""></iframe>
            </div>
        </section>
        <!--//contact-map-->
        <!--/contact-form-->
        <section class="w3l-contact-main  py-5" id="contact">
            <div class="container py-lg-5 py-md-3">
                <div class="contact-infhny">
                    <div class="container py-lg-5">
                        <div class="row top-map">
                            <div class="col-lg-5 w3l-contact-info pe-lg-5">
                                <h6 class="title-subhny">Address Info</h6>
                                <h3 class="title-w3l mb-5">
                                    Have Questions? Get in touch.</h3>
                                <div class="contact-infos">
                                    <div class="single-contact-infos">
                                        <div class="icon-box"> <span class="fas fa-map-marked-alt"></span></div>
                                        <div class="text-box">
                                            <h3 class="mb-2">Address</h3>
                                            <p>Pixshot, Honey Street,Main Road
                                                London, UK - 49436.</p>
                                        </div>
                                    </div>

                                    <div class="single-contact-infos mt-lg-5 mt-4">
                                        <div class="icon-box"> <span class="fas fa-phone-alt"></span></div>
                                        <div class="text-box">
                                            <h3 class="mb-2">Phone</h3>
                                            <p><a href="tel:+12 404-11-22-89">+12 404-11-22-89</a></p>

                                        </div>
                                    </div>
                                    <div class="single-contact-infos mt-lg-5 mt-4">
                                        <div class="icon-box"> <span class="fas fa-envelope-open-text"></span></div>
                                        <div class="text-box">
                                            <h3 class="mb-2">Email</h3>
                                            <p> <a href="mailto:support@gmail.com">support@gmail.com</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 map-content-9 mt-lg-0 mt-5">
                                <form action="https://sendmail.w3layouts.com/submitForm" method="post">
                                    <div class="form-top1">
                                        <div class="w3header-section text-left">
                                            <h6 class="title-subhny">Get In Touch </h6>
                                            <h3 class="title-w3l mb-md-5 mb-4">
                                                Fill the form and send your query.</h3>
                                        </div>

                                        <div class="form-top">
                                            <div class="form-top-left">
                                                <input type="text" name="w3lName" id="w3lName" placeholder="Name" required="">
                                                <input type="number" name="w3lPhone" placeholder="Phone number" required="">
                                                <input type="email" name="w3lSender" id="w3lSender" placeholder="Email*" required="">
                                                <input type="text" name="w3lSubject" id="w3lName" placeholder="Subject" required="">
                                            </div>
                                            <div class="form-top-righ">
                                                <textarea name="w3lMessage" id="w3lMessage" placeholder="Message*" required=""></textarea>
                                            </div>
                                        </div>
                                        <div class="text-lg-end text-center">
                                            <button type="submit" class="btn btn-style btn-primary">Submit Now <i class="fas fa-paper-plane ms-2"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--//contact-form-->
        <!--include footer-->
<%-include('includes/_footer')%>
<!--/include footer-->