<!--include header-->
<%-include('includes/_header')%>
<!--/include header-->

    
    <!--//Banner-slider-->
    <section class="w3l-about-breadcrumb">
        <div class="breadcrumb-bg breadcrumb-bg-about">
            <div class="container py-5">
                <div class="w3breadcrumb-gids text-center py-sm-5 py-2">
                    <div class="w3breadcrumb-info">
                        <h2 class="w3ltop-title">Catalogue</h2>
                    </div>
                    <ul class="breadcrumbs-custom-path">
                        <li><a href="/">Home</a></li>
                        <li class="active"><span class="mid-icon">|</span> Catalogue </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- //main-slider -->
    <!--/about-page-->
    <!--<section class="w3l-ab-page py-5" id="about1">
        <div class="container py-md-5 py-3">
            <div class="title-content text-left">
                <h6 class="title-subhny">Capture and share your best side</h6>
                <h3 class="title-w3l mb-2">For exceptional photographers, it’s all about the details
                </h3>
            </div>
            <div class="row mt-5 pb-5 ab-inf-stat position-relative">
                <div class="col-lg-7 abw3-img mb-lg-0 mb-5">
                    <img src="images/banner5.jpg" alt="" class="img-fluid radius-image">

                </div>
                <div class="col-lg-5 ps-lg-5">
                    <p>Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                        ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.</p>
                    <div class="w3banner-content-btns d-flex">
                        <a href="/about" class="btn btn-style btn-secondary mt-lg-5 mt-4">Read More </a>

                    </div>
                    <div class="w3l-stats-inner-inf">
                        <div class="row stats-con">
                            <div class="col-6 stats_info counter_grid">
                                <div class="stats_infoinhny">
                                    <h3>Locations</h3>
                                    <p class="counter">3220 </p>
                                    <h3>Total Snaps</h3>
                                </div>
                            </div>

                            <div class="col-6 stats_info counter_grid">
                                <div class="stats_infoinhny">
                                    <h3>People</h3>
                                    <p class="counter">1020 </p>
                                    <h3>Happy Clients</h3>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>-->
    <!--//about-pages-->
    <!--/features-8-->
    <section class="w3l-feature-8 py-5">
        <!--<div class="container py-md-5 py-3">
            <div class="row text-center">
                <div class="col-lg-3 col-sm-6 feature-body">
                    <div class="feature-8-info">
                        <div class="feature-icon">
                            <i class="fas fa-edit"></i>
                        </div>
                        <div class="feature-info">
                            <h3 class="feature-title mb-2"><a href="services.html">Editing Process</a></h3>
                            <p class="mb-3">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula.
                            </p>
                            <a href="#" class="read-more-icon"><i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 feature-body mt-sm-0 mt-5">
                    <div class="feature-8-info">
                        <div class="feature-icon">
                            <i class="fas fa-video"></i>
                        </div>
                        <div class="feature-info">
                            <h3 class="feature-title mb-2"><a href="services.html">Video Graphic</a></h3>
                            <p class="mb-3">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula.
                            </p>
                            <a href="#" class="read-more-icon"><i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 feature-body mt-lg-0 mt-5">
                    <div class="feature-8-info">
                        <div class="feature-icon">
                            <i class="fas fa-photo-video"></i>
                        </div>
                        <div class="feature-info">
                            <h3 class="feature-title mb-2"><a href="services.html">Photo Graphic</a></h3>
                            <p class="mb-3">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula.
                            </p>
                            <a href="#" class="read-more-icon"><i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 feature-body mt-lg-0 mt-5">
                    <div class="feature-8-info">
                        <div class="feature-icon">
                            <i class="fas fa-paint-brush"></i>
                        </div>
                        <div class="feature-info">
                            <h3 class="feature-title mb-2"><a href="services.html">Best Arts</a></h3>
                            <p class="mb-3">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula.
                            </p>
                            <a href="#" class="read-more-icon"><i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </section>
    <!-- //features-8-->
    <!--/video-->
    <!--<section class="w3l-video py-5" id="video">
        <div class="container py-md-5 py-3">
            <div class="row video-grids align-items-center">
                <div class="w3ab-left-top col-lg-6 mt-lg-0 mt-5 pe-lg-5">
                    <h6 class="title-subhny">Capture life’s moments candidly.</h6>
                    <h3 class="title-w3l mb-2">Photography is not an exact science.</h3>
                    <p class="my-3"> Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula. Semper at tempufddfel.</p>

                    <div class="row pix-grid-item-info mt-lg-5 mt-4">
                        <div class="col-sm-6 w3lgrids-1 box-wrap">
                            <div class="icon">
                                <i class="fas fa-users"></i>
                            </div>
                            <div class="icon-text">
                                <h4><a href="#service" class="title-head">
                                        Portraits</a></h4>
                                <p class="text-para mt-2">Lorem ipsum viverra feugiat pellen tesque libero.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 w3lgrids-1 box-wrap mt-sm-0 mt-5">
                            <div class="icon">
                                <i class="fas fa-hand-holding-usd"></i>
                            </div>
                            <div class="icon-text">
                                <h4><a href="#service" class="title-head">Commercial
                                    </a></h4>
                                <p class="text-para mt-2">Lorem ipsum viverra feugiat pellen tesque libero.</p>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="w3l-index5 w3l-video-left col-lg-6 mt-lg-0 mt-5">
                    
                    <div class="position-relative">
                        <a href="#small-dialog" class="popup-with-zoom-anim play-view text-center position-absolute">
                            <span class="video-play-icon">
                                <span class="fa fa-play"></span>
                            </span>
                        </a>
                        
                        <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                            <iframe src="https://player.vimeo.com/video/124801644?h=d2296cb1dc" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                        </div>

                    </div>
                    
                </div>

            </div>
        </div>
    </section>-->
    <!--//video-->
    <!-- features-section -->
    <section class="w3l-features py-5" id="features">
        <div class="container py-5">
            <div class="row pb-lg-5 mb-lg-5 pt-lg-5">
                <div class="text-left">
                    <h6 class="title-subhny two">What We Offer</h6>
                    <h3 class="title-w3l two">Lorem ipsum viverra feugiat. , <br>it’s about passion</h3>
                </div>

            </div>
        </div>
    </section>
    <!--//features-section -->
    <!--/w3l-features-grids-->

    <!--/Looping the images -->
    <!--<section class="w3l-features-grids">
        <div class="container">
            <div class="main-cont-wthree-2">
                <div class="row justify-content-center">
                   
                    <% for (let i = 0; i < 38; i++) { %>
                        <div class="col-lg-3 col-md-4 col-6 mt-lg-5 mt-4">
                            <div class="grids-1 box-wrap">
                                <div class="icon-img">
                                    <img src="images/g4.jpg" alt="Design" class="img-fluid radius-image" />
                                </div>
                                <h4><a href="#service" class="title-head mb-3">Design</a></h4>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </section>-->
    <!--/Looping the images-->
    <section class="w3l-features-grids">
        <div class="container">
            <div class="main-cont-wthree-2">
                <div class="row justify-content-center">
                    <a href="/spinningMill ">
                        <div class="col-lg-3 col-6 mt-lg-5 mt-4">
                            <div class="grids-1 box-wrap">
                                <div class="icon-img">
                                    <img src="images/spinningMill(1).jpg" alt=" " class="img-fluid radius-image" />
                                </div>
                                <h4><a href="#service" class="title-head mb-3">Yern/Spinning Mill</a></h4>

                            </div>
                        </div>
                    </a>
                    <div class="col-lg-3 col-6 mt-lg-5 mt-4">
                        <div class="grids-1 box-wrap">
                            <div class="icon-img">
                                <img src="images/fabric (1).jpg" alt=" " class="img-fluid radius-image" />
                            </div>
                            <h4><a href="#service" class="title-head mb-3">Fabric Suppliers & Exporters</a></h4>

                        </div>
                    </div>
                    <div class="col-lg-3 col-6 mt-lg-5 mt-4">
                        <div class="grids-1 box-wrap active">
                            <div class="icon-img">
                                <img src="images/knitting (1).jpg" alt=" " class="img-fluid radius-image" />
                            </div>
                            <h4><a href="#service" class="title-head mb-3">Knitting</a></h4>

                        </div>
                    </div>
                    <div class="col-lg-3 col-6 mt-lg-5 mt-4">
                        <div class="grids-1 box-wrap">
                            <div class="icon-img">
                                <img src="images/processing (1).jpg" alt=" " class="img-fluid radius-image" />
                            </div>
                            <h4><a href="#service" class="title-head mb-3">
                                    Processing</a></h4>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    
    
    
    <!--//w3l-features-grids-->
    <!--/Gallery-Section-->
    <!--<section class="w3l-gallery-main py-5" id="gallery">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="title-content text-center mx-auto">
                <h6 class="title-subhny">Gallery</h6>
                <h3 class="title-w3l mb-4">Latest Gallery
                </h3>
            </div>
            <div class="row gal-page-grids text-center">
                <div class="col-lg-6 col-6 w3layouts_gallery_grid">
                    <a href="#gallery">
                        <div class="w3layouts_team_grid">
                            <img src="images/banner1.jpg" alt=" " class="img-fluid radius-image" />
                            <div class="w3layouts_team_grid_pos">
                                <div class="wthree_text">
                                    <i class="fas fa-search-plus"></i>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="col-6 w3layouts_gallery_grid">
                     <a href="#gallery">
                        <div class="w3layouts_team_grid">
                            <img src="images/banner2.jpg" alt=" " class="img-fluid radius-image" />
                            <div class="w3layouts_team_grid_pos">
                                <div class="wthree_text">
                                    <i class="fas fa-search-plus"></i>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>
            </div>
            <div class="row gal-page-grids text-center">
                <div class="col-4 w3layouts_gallery_grid">
                   <a href="#gallery">
                        <div class="w3layouts_team_grid">
                            <img src="images/g1.jpg" alt=" " class="img-fluid radius-image" />
                            <div class="w3layouts_team_grid_pos">
                                <div class="wthree_text">
                                    <i class="fas fa-search-plus"></i>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="col-4 w3layouts_gallery_grid">
                     <a href="#gallery">
                        <div class="w3layouts_team_grid">
                            <img src="images/g2.jpg" alt=" " class="img-fluid radius-image" />
                            <div class="w3layouts_team_grid_pos">
                                <div class="wthree_text">
                                    <i class="fas fa-search-plus"></i>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="col-4 w3layouts_gallery_grid">
                     <a href="#gallery">
                        <div class="w3layouts_team_grid">
                            <img src="images/g3.jpg" alt=" " class="img-fluid radius-image" />
                            <div class="w3layouts_team_grid_pos">
                                <div class="wthree_text">
                                    <i class="fas fa-search-plus"></i>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>
            </div>
            <div class="row gal-page-grids text-center">
                <div class="col-lg-6 col-6 w3layouts_gallery_grid">
                     <a href="#gallery">
                        <div class="w3layouts_team_grid">
                            <img src="images/banner5.jpg" alt=" " class="img-fluid radius-image" />
                            <div class="w3layouts_team_grid_pos">
                                <div class="wthree_text">
                                    <i class="fas fa-search-plus"></i>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="col-6 w3layouts_gallery_grid">
                    <a href="#gallery">
                        <div class="w3layouts_team_grid">
                            <img src="images/banner4.jpg" alt=" " class="img-fluid radius-image" />
                            <div class="w3layouts_team_grid_pos">
                                <div class="wthree_text">
                                    <i class="fas fa-search-plus"></i>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>-->
    <!--//Gallery-Section-->
    <!--/testimonials-->
    <!--<section class="w3l-clients py-5" id="testimonials">
        <div class="container py-sm-5 py-3">
            <div class="row w3-testimonial-grids align-items-center">
                <div class="col-12 w3-testimonial-content-top mb-4">
                            <div class="testimonial-content">
                                <i class="fas fa-quote-left me-2"></i>
                                <div class="test-img"><img src="images/team2.jpg" class="img-fluid" alt="client-img">

                                </div>
                                <div class="testimonial">
                                    <blockquote>
                                        <q>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit beatae
                                            laudantium
                                            voluptate rem ullam dolore nisi voluptatibus esse quasi, doloribus tempora. voluptate rem ullam dolore nisi voluptatibus esse quasi, doloribus tempora.Lorem ipsum dolor amet consectetur adipisicing elit ultrices in ligula.</q>

                                    </blockquote>
                                    <div class="testi-des">

                                        <div class="peopl align-self">
                                            <h3>John wilson</h3>
                                            <p class="indentity">City Name</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       
                </div>
            </div>
        </div>
    </section>-->
    <!-- //testimonials -->

    <!--/w3l-blog-->
   <!-- <section class="w3l-blog py-5">
        <div class="container py-md-5 py-2">
            <div class="title-content text-center mx-auto">
                <h6 class="title-subhny">Recent Posts</h6>
                <h3 class="title-w3l mb-3">Blog Updates
                </h3>
            </div>
            <div class="row blog justify-content-center">
                
                <div class="col-lg-4 col-md-6 item mt-5">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="blog-left-single.html" class="zoom d-block">
                                <img class="card-img-bottom d-block" src="images/banner1.jpg" alt="Card image cap">
                            </a>
                            <a href="#author" class="post-author">
                                <i class="fas fa-user-alt"></i>
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <div class="author">
                                <span class="categoryw3"><a href="#" rel="categorytag">Inspiration</a></span>
                                <span class="date-inf"></span>
                                Jan.16.2022

                            </div>
                            <div class="author-contentw3-info">
                                <h4><a href="blog-single.html" class="blog-desc">Capture emotions as they are happening.</a></h4>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="col-lg-4 col-md-6 item mt-5">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="blog-left-single.html" class="zoom d-block">
                                <img class="card-img-bottom d-block" src="images/banner6.jpg" alt="Card image cap">
                            </a>
                            <a href="#author" class="post-author">
                                <i class="fas fa-user-alt"></i>
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <div class="author">
                                <span class="categoryw3"><a href="#" rel="categorytag">Wildlife</a></span>
                                <span class="date-inf"></span>
                                Jan.18.2022

                            </div>
                            <div class="author-contentw3-info">
                                <h4><a href="blog-single.html" class="blog-desc">Capture life one frame at a time.</a></h4>

                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 item mt-5">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="blog-left-single.html" class="zoom d-block">
                                <img class="card-img-bottom d-block" src="images/banner2.jpg" alt="Card image cap">
                            </a>
                            <a href="#author" class="post-author">
                                <i class="fas fa-user-alt"></i>
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <div class="author">
                                <span class="categoryw3"><a href="#" rel="categorytag">Wedding</a></span>
                                <span class="date-inf"></span>
                                Jan.19.2022

                            </div>
                            <div class="author-contentw3-info">
                                <h4><a href="blog-single.html" class="blog-desc">Capture emotions as they are happening.</a></h4>



                            </div>

                        </div>

                    </div>
                </div>

            </div>
            
        </div>
    </section>-->
    <!--//w3l-blog-->

    <!--/w3llets-work-->
    <!--<section class="w3llets-work py-5">
        <div class="container py-md-5 py-3">
            <div class="row justify-content-center">
                <div class="w3llets-work-left col-lg-6">
                    <div class="text-lg-start text-center">
                        <h6 class="title-subhny">Let's Work Together</h6>
                        <h3 class="title-w3l two">Have an idea?
                            Let’s get it done right!</h3>
                    </div>
                </div>
                <div class="w3llets-work-right col-lg-6 ps-lg-5 text-lg-end text-center">
                    <div class="w3banner-content-btns text-right">
                        <a href="#contact" class="btn btn-style btn-primary mt-lg-5 mt-4 me-2"> Let's Work Together </a>
                        <a href="#contact" class="btn btn-style btn-secondary mt-lg-5 mt-4"> Get In Touch </a>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!--//w3llets-work-->
    <!--/w3-grids-->
    <section class="w3l-passion-mid-sec py-5">
        <div class="container py-md-5 py-3">
            <!--/row-1-->
            <div class="row w3l-passion-mid-grids w3recent-works">
                <!--/row-1-->
                 <!--<div class="row w3l-passion-mid-grids">
                    <div class="col-lg-8 w3grids-left-img p-0">
                        <img src="images/banner2.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-4 passion-grid-item-info p-0">
                        <div class="w3grids-right-info">
                            <div class="icon-text">
                                <h5>Interested To</h5>
                                <h4><a href="#recent" class="title-head">
                                        Collabration</a></h4>
                                <p class="text-para mt-2 mb-4">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula tempufddfel.</p>
                                <a href="#contact" class="btn btn-style btn-primary mt-4"> Let's Connect </a>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!--//row-1-->
            </div>
        </div>
    </section>
    <!--//w3-grids-->
    <!--include footer-->
<%-include('includes/_footer')%>
<!--/include footer-->
    